@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>
<p>
    Please @Html.ActionLink("Log in", "Login", "Account") or 
    @Html.ActionLink("Register", "Register", "Account") and go to the game lobby
</p>


